## OS X Finder
.DS_Store

# Carthage
Carthage
*.xcuserstate

# AppCode
.idea
*xcschememanagement.plist

# CocoaLumberjack framework
CocoaLumberjack*/**

# ZipArchive framework
ZipArchive*/**

# xcuserdata
*xcworkspace/xcuserdata/*
*.xcodeproj/xcuserdata/*

# bcsymbolmap files
*.bcsymbolmap