## OS X Finder
.DS_Store

# Carthage
Carthage/Build
*.xcuserstate

# AppCode
.idea
*xcschememanagement.plist

# xcuserdata
*xcworkspace/xcuserdata/*

# RecogLib_iOS build output (referenced framework in demo app)
RecogLib_iOS.framework
